<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

  <title>Transfer</title>

  <!-- <style>
       body {
           padding-top: 50px;
           padding-bottom: 50px;
       }

       .special {
           padding-top: 50px;
       }
   </style>-->
</head>
<body>
<!-- Navigation menu -->
<nav class="navbar navbar-expand ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:href="@{/}">
      <button class="btn btn-success center-block">Pay
        my buddy</button></a>
    <div>
      <ul class="nav navbar-right">
        <li class="nav-item"><a class="nav-link active" href="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="transfer">Transfer</a></li>
        <li class="nav-item"><a class="nav-link" href="profile">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
        <li class="nav-item" sec:authorize="isAuthenticated()"><form
                th:action="@{/logout}" method="post">
          <input class="nav-link btn btn-primary" type="submit"
                 value="Log Out" />
        </form></li>
      </ul>
    </div>
  </div>
</nav>

<!-- End Navigation menu -->
<div class="container px-4">

  <div class="row mt-3 mb-1 justify-content-between">
    <div class="ml-4">
      <span class="text-left"><h4>Your Transactions</h4></span>
    </div>
  </div>
</div>
<!--<form th:action="@{/sendMoney}" method="post" th:object="${transaction}">
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text col-3 justify-content-center" th:text="${balance}"></span>
    <span class="input-group-text"> € </span>
    <label>
      <input type="text" class="form-control" name="number" placeholder="1.00" required>
    </label>
    <span class="input-group-text"> -0.5% fee will be deducted </span>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text col-3 justify-content-center"> Friends</span>
      <label>
        <select class="form-select form-select-sm" name="email" required>
          <option selected th:value="email" > Select friend to send money... </option>
          <option th:each="user: ${friends}" th:text="${user.firstName}+' '+${user.lastName}+': '+${user.balance}+€" th:value="${user.email}"> </option>
        </select>
      </label>
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text col-3 justify-content-center"> Message </span>
      <label>
        <textarea class="form-control" name="message" placeholder="Write your message..." required></textarea>
      </label>
    </div>
    &lt;!&ndash; Send money button &ndash;&gt;
    <div class="d-grid gap-2 col-3 mx-auto">
      <input class="form-control btn btn-success btn-sm" type="submit" name="sendMoney" value="Send money">
    </div>
  </div>
</form>-->
<div th:if="${param.error}" style="display: flex; justify-content: flex-start; width: 25%; margin-left: 10px;">
  <div class = "alert alert-danger">You cannot send to this email! Try again</div>
</div>
<div th:if="${param.errorAmount}" style="display: flex; justify-content: flex-start; width: 15%; margin-left: 10px;">
  <div class = "alert alert-danger">Insufficient funds</div>
</div>
<button style="margin-left: 10px; height: 40px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendMoney">
  Send Money
</button>

<div class="modal-dialog">
  <!-- Modal -->
  <div class="modal fade" id="sendMoney" tabindex="0" aria-labelledby="sendMoneyLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sendMoneyLabel">Modal title</h5>
        </div>
        <div class="modal-body">
          <form action="/sendMoney" method="get">
            <div class="form-group">
              <label>Friend's Email <input type="text" name="friendEmail" class="form-control">
              </label><br>
              <label>Amount <input type="text" name="amount" class="form-control">
              </label>
              <span>  -0.5% fee will be deducted </span>
              <br>
              <label>Description <input type="text" name="description" class="form-control">
              </label><br>
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Sender</th>
    <th scope="col">Amount</th>
    <th scope="col">Receiver</th>
    <th scope="col">Description</th>
    <th scope="col">Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="transaction : ${transactions}">
    <td th:text="${transaction.senderId}"></td>
    <td th:text="${transaction.amount}"></td>
    <td th:text="${transaction.receiverId}"></td>
    <td th:text="${transaction.description}"></td>
    <td th:text="${transaction.getDate()}"></td>
  </tr>
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>